apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: raven-url-injector
webhooks:
  - name: inject-raven-url.example.com
    clientConfig:
      service:
        name: mutatingwebhook
        namespace: mutatingwebhook-main
        path: "/mutate"
        port: 8085
      # caBundle added to support HTTPS
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURQekNDQWllZ0F3SUJBZ0lKQVBNV1BSVmhOeHh1TUEwR0NTcUdTSWIzRFFFQkRBVUFNRE14TVRBdkJnTlYKQkFNVEtHMTFkR0YwYVc1bmQyVmlhRzl2YXk1dGRYUmhkR2x1WjNkbFltaHZiMnN0YldGcGJpNXpkbU13SGhjTgpNall3TWpBeE1qQXdPREl6V2hjTk16WXdNVE13TWpBd09ESXpXakF6TVRFd0x3WURWUVFERXlodGRYUmhkR2x1ClozZGxZbWh2YjJzdWJYVjBZWFJwYm1kM1pXSm9iMjlyTFcxaGFXNHVjM1pqTUlJQklqQU5CZ2txaGtpRzl3MEIKQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBeWRoWTNPMFh5Q2EvV1JIc3dUT1hOY1FOQk9Bcmx1dmwrMXVTM085VgpYMzZZTDQrQnV6OU56V0tIM1ROYnNjL1cwUUxIQUlGbExQWjEwdTJIWWk5THlLclA2dXBENG43YzJCU0txdExWCkdXbHdGRFl0UU5oNjNMQ2l3c3BrQlcycHpWNGRNUHgrN0ZnY2dFdXI4dXlwM1FSeGE4UFlHOFRudS9SZTJuVXUKdWd2ajY4YjdhZXEvV2tSbTFVWS9wQ1FUY0I3dzkwQ1hqczBuR3NwU25HQWc3Q3dMWXVYWmdEdzVPT3FhbllVdApJeG5QQUtEZ2ZtU2Q2Y3p1WitaMHBsdlVhTnRhcmUwbUhILzV5ZHNpTTVVdXhVQ1ZaOFVzTnJkR2s3cFpPRUZVClk2cDZOa2ZnaGRhYVhpckJtTmp6OCt4ZU43dXd5SEdUSzl3Y2puZEdFSGtDUXdJREFRQUJvMVl3VkRBZEJnTlYKSFE0RUZnUVV6YkQwRXgvc1h1QnhQUDZ2d2YreDBxWlE5cWd3TXdZRFZSMFJCQ3d3S29Jb2JYVjBZWFJwYm1kMwpaV0pvYjI5ckxtMTFkR0YwYVc1bmQyVmlhRzl2YXkxdFlXbHVMbk4yWXpBTkJna3Foa2lHOXcwQkFRd0ZBQU9DCkFRRUFuQWpVWG5KZit6dDRGSjVwZHhDc3orQnppR2NKWjZCMFdFS1FYaHFIWldWWmJncThkRkQzTlY0UkFHT2IKSkg2VDBUQWRLVWpuay9ianFOek9YU295emVpTkdHUm5QMGpRTldNYXJFVmI5T3FJOU9TS1B3cGxOWDJ3Vks4NApIUUcxTkdGVElhL21HczZmb2c1ZjRUNHZocFdRcnVYUTEwajZiMUFtTmpiblRROTE4U0tYU0kvcmpDN0JoSjkwCkNTRFRsMWVydUsyV3NPQ0c3QUYvVUZzM0hCVGZMYVFLSXkzY1FnUGh0emNTSWtBSnNwZGxoQjZDVVd1Qk5tS2oKOVMwUmEyZ1l2THVIVXh6ZXpNZmt4eDZUb0dPbG4zL20wdVM4akxIK2NlUVZhSnh5NzN6dXJTV244aG5MbE1qQQpkc1VFaGNvMzZaVENYME9mc0JsenorTXhZQT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
      # Note: Kubernetes may reject webhooks without TLS in production
    rules:
      - operations: ["CREATE", "UPDATE"]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
    admissionReviewVersions: ["v1", "v1beta1"]
    sideEffects: None
    timeoutSeconds: 5
    reinvocationPolicy: Never
    failurePolicy: Ignore
    namespaceSelector:
      matchLabels:
        inject-raven-url: enabled
