server:
  port: 8085

spring:
  application:
    name: raven-webhook

logging:
  level:
    com.example.ravenwebhook: INFO
    org.springframework: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

management:
  server:
    port: 8090
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
